In [1]:
import pandas as pd
df=pd.read_csv('D:\\BBAU1\\train.csv')

df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df.describe()

In [2]:
#seperating features (X) and outcome(y) from historical data
X=df.drop(['Loan_Status','Loan_ID'], axis=1)
y=df['Loan_Status']
print(X.shape)

(500, 11)

In [ ]:
#Handling Null Values
X.isnull().sum()

In [3]:
X['Gender'].value_counts()

Male      400
Female     91
Name: Gender, dtype: int64

In [4]:
X['Gender'].fillna("Male", inplace=True)

In [ ]:
X.isnull().sum()

In [5]:
X['Married'].value_counts()

Yes    322
No     175
Name: Married, dtype: int64

In [6]:
X['Married'].fillna("Yes", inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [7]:
X['Dependents'].value_counts()

0     288
1      81
2      79
3+     40
Name: Dependents, dtype: int64

In [8]:
X['Dependents'].fillna("0", inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [9]:
X['Self_Employed'].value_counts()

No     407
Yes     66
Name: Self_Employed, dtype: int64

In [10]:
X['Self_Employed'].fillna("No", inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [11]:
mean_loan=X['LoanAmount'].mean()
X['LoanAmount'].fillna(mean_loan,inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [12]:
X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mean(),inplace=True)

X['Credit_History'].fillna(X['Credit_History'].mean(),inplace=True)

X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [13]:
#Now X does not have any null value
#One hot Encoding- Changing Categorical Values into numerical values
X=pd.get_dummies(X)
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,144.020747,360.0,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30,random_state=30)
print(X_train.shape)

print(X_test.shape)

print(y_test.shape)
X_train.head()

(350, 20)
(150, 20)
(150,)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
12,3073,8106.0,200.0,360.00000,1.0,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
136,4583,0.0,84.0,360.00000,1.0,1,0,0,1,1,0,0,0,1,0,1,0,1,0,0
368,6325,0.0,175.0,360.00000,1.0,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0
367,5124,0.0,124.0,342.54321,0.0,0,1,1,0,1,0,0,0,1,0,1,0,1,0,0
406,2167,2400.0,115.0,360.00000,1.0,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1

In [15]:
#Applying Machine Learning Algorithm – Logistic Regression

from sklearn.linear_model import LogisticRegression
Lr = LogisticRegression()

Lr.fit(X_train,y_train)
#Lr now contains the model

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
#Applying Machine Learning Algorithm – Support Vector Machines
from sklearn.svm import SVC
svc = SVC()

svc.fit(X_train, y_train)
#svc is another ML model

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [17]:
#Applying Machine Learning Algorithm – Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

dtf = DecisionTreeClassifier()

dtf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [18]:
from sklearn.naive_bayes import GaussianNB

n_b = GaussianNB()

n_b.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()  

knn.fit(X_train, y_train)
print(knn.score(X_test,y_test))

0.66

In [21]:
#How to Predict using model
y_predict=Lr.predict(X_test)
y_predict1=svc.predict(X_test)
y_predict2=dtf.predict(X_test)
y_predict3=n_b.predict(X_test)
y_predict4=knn.predict(X_test)
df1=pd.DataFrame({'Actual':y_test,'Predicted_LR':y_predict,'Predicted_svc':y_predict1,'Predicted_dtr':y_predict2,'Predicted_nb':y_predict3,'Predicted_knn':y_predict4 })
#df1.to_csv("Day16_Output.csv")

In [22]:
#Score is simplest parameter to evaluate ML Model for classification problem
# Score=Total Matching/Total data
# Goal of a ML Classification problem is to achieve a score closer to 1.
print(Lr.score(X_test,y_test))
print(svc.score(X_test,y_test))
print(dtf.score(X_test,y_test))
print(n_b.score(X_test,y_test))
print(knn.score(X_test,y_test))

0.7666666666666667
0.72
0.72
0.78
0.66

In [ ]:
#The model made by Logistic Regression Algorithm Lr is the best model so far

In [ ]:
#Deployment of model 
gender=input("What is your gender:")
married=input("Married:")
dependents=input("dependents value:")
Education=input("enter your education")
SelfEmployed=input("Self Employed:")
Applicantincome=int(input("enter applicant income"))
coapplicantincome=int(input("enter co applicant income:"))
loanamount=int(input("enter loan amount:"))
loanamountterm=int(input("enter loan amount term:"))
credithistory=int(input("enter credit history:"))
propertyarea=input("enter property area:")
data = [[gender,married,dependents,Education,SelfEmployed,Applicantincome,coapplicantincome,loanamount,loanamountterm,credithistory,propertyarea]]

newdf = pd.DataFrame(data, columns = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])
newdf.head()

In [ ]:
newdf = pd.get_dummies(newdf)
newdf.head()

In [ ]:
X_train.columns

In [ ]:
missing_cols = set( X_train.columns ) - set( newdf.columns )
print(missing_cols)

In [ ]:
for c in missing_cols:
    newdf[c] = 0

In [ ]:
newdf = newdf[X_train.columns]

In [ ]:
yp=Lr.predict(newdf)
print(yp)

In [ ]:
if (yp[0]=='Y'):
    print("Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing")
else:
    print("Sorry ! Your Loan is not approved")

In [23]:
from sklearn.metrics import confusion_matrix
results=confusion_matrix(y_test,y_predict)
print(results)

[[17 25]
 [10 98]]