In [ ]:
Assignment 6

In [ ]:
"""
Q1. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. Sample Python dictionary data and list labels:
a. exam_data = {'name': ['Ankita', 'Dia', 'Kapil', 'Jayesh', 'Esha', 'Mayank', Ravi, 'Lata', 'Kamal', 'Jatin'],
b. 'score': [12.5, 9, 16.5, 15, 9, 20, 14.5, 17.5, 8, 19],
c. 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
d. 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

"""
import pandas as pd

exam_data={'name': ['Ankita', 'Dia', 'Kapil', 'Jayesh', 'Esha', 'Mayank', 'Ravi', 'Lata', 'Kamal', 'Jatin'],
           'score': [12.5, 9, 16.5, 15, 9, 20, 14.5, 17.5, 8, 19],
           'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
           'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(exam_data)
df

In [ ]:
'''
Q2. Create a data frame using dictionary.
a. Dictionary (‘id’:[P101,P102,P103,P104,P105], ‘Price’:[256, 340, 540, 260, 470])

'''

sale_data={'id':['P101','P102','P103','P104','P105'], 'Price':[256, 340, 540, 260, 470]}
new_df=pd.DataFrame(sale_data)
new_df

In [ ]:
#Q2. (b) 	Print the price of product id – p102.

print('Price of product id – p102:',new_df['Price'][1])

In [ ]:
#Q2 (c) Print values of price column.
print('Values of Price Column:')
print(new_df['Price'])

In [ ]:
# Q2 (d) Rename the column id to Product_Id and Price to Base_Price.

new_df.rename(columns={'id':'Product_ID','Price':'Base_Price'}, inplace=True)
new_df

In [ ]:
'''
Q3. Create a new data frame with three columns – Product_Name, Cost, Sales.
a. 	Add 10 values in data frame.
'''

sale_record={'Product_Name':['P1','P2','P3','P4','P5','P6','P7','P8','P9','P10'],
            'Cost':[10,15,20,25,35,40,45,50,55,60],
            'Sales':[20,20,30,40,50,60,70,80,90,100]}

data=pd.DataFrame(sale_record)
data

In [ ]:
#b. 	Add a new column named quantity with 10 values.
data['quantity']=pd.Series([1,3,5,7,9,11,13,15,17,19])
data

In [ ]:
#c.  	Add a new column named: Profit and total_profit and fill values.

#Adding Profit column by substracting the Sales column from Cost column
data['Profit']=data['Sales']-data['Cost']

#Adding Total_Profit column by multiplying the Profit column with quantity column
data['Total_Profit']=data['Profit']*data['quantity']
data

In [ ]:
'''
d. 	Insert a new column named location after Product_Name column with 10 cities.
(New Delhi, Lucknow, Kolkata, Lucknow, New Delhi, Bengaluru, Chennai, Chennai, Kolkata, Bengaluru)
'''
location=['New Delhi', 'Lucknow', 'Kolkata', 'Lucknow', 'New Delhi', 'Bengaluru', 'Chennai', 'Chennai', 'Kolkata', 'Bengaluru']
data.insert(1,column='Location',value=location)
data