In [ ]:
#Assignment 7

In [ ]:
'''
1. Create a data frame:
'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
 'Age': [21, 19, 20, 16, 17, 21],
'Stream': ['Math', 'Commerce', 'Science', 'Math', Commerce, 'Science'],
 'Percentage': [88, 92, 95, 70, 65, 78]}
'''
import pandas as pd

d={'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
   'Age': [21, 19, 20, 16, 17, 21],
   'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Commerce', 'Science'],
   'Percentage': [88, 92, 95, 70, 65, 78]}

df=pd.DataFrame(d)
df

In [ ]:
#Insert a new row – Name: Sahil, Age-23, Stream- Commerce, Percentage-88.

new_df=pd.DataFrame([['Sahil',23,'Commerce',88]],columns=['Name','Age','Stream','Percentage'])
df=df.append(new_df,ignore_index=True)
df

In [ ]:
#select rows where percentage is >80

print(df.loc[df['Percentage']>80])

In [ ]:
#Selecting all the rows from the given dataframe in which ‘Stream’ is Commerce 

print(df.loc[df['Stream']=='Commerce'])

In [ ]:
#Selecting all the rows from the given dataframe in which ‘Age’ is greater than 18

print(df.loc[df['Age']>18])

In [ ]:
#Print sum of age and percentage only

print("Sum of age",sum(df['Age']))
print("Sum of Percentage",sum(df['Percentage']))

In [ ]:
#Get the first 3 rows of above DataFrame

df.head(3)

In [ ]:
#Write a Pandas program to count the number of rows and columns of a DataFrame

total_rows=len(df.axes[0])
total_cols=len(df.axes[1])

print("Total rows in df dataframe:",total_rows)
print("Total columns in df dataframe:",total_cols)

In [ ]:
#4. 	Print mean value of Age and Percentage.

import numpy as np

mean_age=np.mean(df['Age'])
print("Mean value of Age:{:.2f}".format(mean_age))

print("Mean value of Percentage:{:.2f}".format(np.mean(df['Percentage'])))

In [ ]:
# Find Minimum age

print("Minimum age:",min(df['Age']))