In [43]:
import pandas as pd
df = pd.read_csv("D:\\BBAU1\\Admission_Predict.csv")

In [43]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
df.sample(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
21,22,325,114,4,3.0,2.0,8.40,0,0.70
323,324,305,102,2,2.0,2.5,8.18,0,0.62
358,359,314,105,2,2.5,2.0,7.64,0,0.70
117,118,290,104,4,2.0,2.5,7.46,0,0.45
360,361,322,110,3,4.0,5.0,8.64,1,0.85

In [6]:
print(df.shape)

(400, 9)

In [7]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [9]:
print(df['GRE Score'].min())

290

In [44]:
# Data Pre-Processing
df.drop(["Serial No."],axis=1,inplace = True)

In [45]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
print(df['Chance of Admit'])

In [13]:
print(df.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [ ]:
print(df['Chance of Admit '])

In [45]:
df=df.rename(columns = {'Chance of Admit ':'Chance of Admit'})
print(df.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [46]:
# X is features on which outcome is dependent
X=df.drop(["Chance of Admit"],axis=1)
X.shape

(400, 7)

In [21]:
print(X.head())

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [47]:
#y is outcome which we want to predict through Machine Learning
y=df["Chance of Admit"]
print(y)

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
5      0.90
6      0.75
7      0.68
8      0.50
9      0.45
10     0.52
11     0.84
12     0.78
13     0.62
14     0.61
15     0.54
16     0.66
17     0.65
18     0.63
19     0.62
20     0.64
21     0.70
22     0.94
23     0.95
24     0.97
25     0.94
26     0.76
27     0.44
28     0.46
29     0.54
       ...
370    0.72
371    0.89
372    0.95
373    0.79
374    0.39
375    0.38
376    0.34
377    0.47
378    0.56
379    0.71
380    0.78
381    0.73
382    0.82
383    0.62
384    0.96
385    0.96
386    0.46
387    0.53
388    0.49
389    0.76
390    0.64
391    0.71
392    0.84
393    0.77
394    0.89
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit, Length: 400, dtype: float64

In [48]:
#Now X and y is ready
#Now spilt the data in two parts: train data (320 rows) and test data (80 rows)
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test =train_test_split(X,y,test_size = 0.20)

In [50]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(400, 7)
(320, 7)
(80, 7)

In [51]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(400,)
(320,)
(80,)

In [37]:
print(X_train.head())

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
122        310          106                  4  1.5   2.5  8.36         0
129        333          118                  5  5.0   5.0  9.35         1
328        324          112                  4  4.0   3.5  8.77         1
307        325          112                  4  4.0   4.0  9.00         1
47         339          119                  5  4.5   4.0  9.70         0

In [49]:
from sklearn.preprocessing import MinMaxScaler

scalerX = MinMaxScaler(feature_range=(0, 1))

X_train[X_train.columns] = scalerX.fit_transform(X_train[X_train.columns])

X_test[X_test.columns] = scalerX.transform(X_test[X_test.columns])

print(X_train.head())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

     GRE Score  TOEFL Score  University Rating    SOP   LOR       CGPA  \
90        0.56     0.500000               0.25  0.750  0.750  0.358974
254       0.62     0.785714               0.75  0.750  1.000  0.743590
63        0.50     0.535714               0.25  0.750  0.500  0.544872
32        0.96     0.928571               0.75  0.500  0.875  0.833333
235       0.72     0.678571               1.00  0.875  0.750  0.778846

     Research
90        1.0
254       0.0
63        1.0
32        1.0
235       1.0

In [50]:
#Only these three lines in Python will create a Machine Learning Model for you
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
y_predict = model.predict(X_test)

print (y_predict[0:5])
print(y_test[0:5])

[0.79675929 0.69353854 0.64960258 0.85958262 0.50201747]
248    0.80
350    0.74
2      0.72
35     0.88
38     0.52
Name: Chance of Admit, dtype: float64

In [26]:
df1=pd.DataFrame({'Actual':y_test,'Predicted':y_predict})
df1.to_csv("Day14_Output.csv")

In [11]:
df1.shape

(80, 2)

In [25]:
#Deployment of Model for New data

gre=int(input("What is your GRE Score (between 290 to 340):"))
toefl=int(input("What is your TOEFL Score (between 90 to 120):"))
univ=int(input("What is your University Rating ( 1 to 5 ):"))
sop=int(input("Rate your Statement of Purpose ( 1 to 5):"))
lor=int(input("What is strength of  your Letter of Recommendation ( 1 to 5) :"))
cgpa=float(input("What is your CGPA ( 6 to 10):"))
research=int(input("Do You have Research Experience (Enter 0 for No and 1 for Yes:"))

newx=[[gre,toefl,univ,sop,lor,cgpa,research]]

newy=model.predict(newx)

print("Your Chance of Admission is (in percentage): ",newy[0]*100)

What is your GRE Score (between 290 to 340):310
What is your TOEFL Score (between 90 to 120):110
What is your University Rating ( 1 to 5 ):4
Rate your Statement of Purpose ( 1 to 5):4
What is strength of  your Letter of Recommendation ( 1 to 5) :3
What is your CGPA ( 6 to 10):8.33
Do You have Research Experience (Enter 0 for No and 1 for Yes:1
Your Chance of Admission is:  68.86947779136948

In [32]:
df1=pd.DataFrame({'Actual':y_test,'Predicted':y_predict})
df1['Error']=df1['Actual']-df1['Predicted']
df1['Error']=df1['Error'].abs()
df1.to_csv("Day14_Output.csv")

In [28]:
df1.head()

     Actual  Predicted     Error
248    0.80   0.796759  0.003241
350    0.74   0.693539  0.046461
2      0.72   0.649603  0.070397
35     0.88   0.859583  0.020417
38     0.52   0.502017  0.017983

In [33]:
#Absolute Mean Error is performance metrics for evaluation of Machine Learning
#Model for Regression Problem
Absolute_Mean_Error=df1['Error'].mean()
print(Absolute_Mean_Error)

0.04422242528194255

In [35]:
#Mean Squared Error
#Root Mean Square Error is most popular method to evaluate regression problem
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error
p1=mean_absolute_error(y_test,y_predict)
p2=mean_squared_error(y_test,y_predict)
p3=np.sqrt(p2)
print("Mean Absolute Error:",p1)
print(p2)
print(p3)

Mean Absolute Error: 0.04422242528194255
0.003529943947662714
0.05941333139677251

In [37]:
# Algorithm name is Decision Tree Regressor
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [38]:
y_predict = dtr.predict(X_test)

print (y_predict[0:5])
print(y_test[0:5])

[0.79 0.75 0.62 0.92 0.68]
248    0.80
350    0.74
2      0.72
35     0.88
38     0.52
Name: Chance of Admit, dtype: float64

In [39]:
df2=pd.DataFrame({'Actual':y_test,'Predicted':y_predict})
df2['Error']=df2['Actual']-df2['Predicted']
df2['Error']=df2['Error'].abs()
df2.head()

     Actual  Predicted     Error
248    0.80       0.79  0.003241
350    0.74       0.75  0.046461
2      0.72       0.62  0.070397
35     0.88       0.92  0.020417
38     0.52       0.68  0.017983

In [40]:
#Algorithm name is Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [41]:
y_predict = rfr.predict(X_test)
df3=pd.DataFrame({'Actual':y_test,'Predicted':y_predict})
df3['Error']=df3['Actual']-df3['Predicted']
df3['Error']=df3['Error'].abs()
df3.head()

     Actual  Predicted     Error
248    0.80      0.784  0.003241
350    0.74      0.759  0.046461
2      0.72      0.683  0.070397
35     0.88      0.897  0.020417
38     0.52      0.468  0.017983

In [51]:
#Checking All three model performance model, dtr, rfr
import numpy as np
from sklearn.metrics import mean_absolute_error,mean_squared_error


#Linear Regression Algorithm Model
y_predict = model.predict(X_test)
p1=mean_absolute_error(y_test,y_predict)
p2=mean_squared_error(y_test,y_predict)
p3=np.sqrt(p2)
print("Mean Absolute Error:",p1)
print(p2)
print(p3)

#Decision Tree Regression Algorithm Model
y_predict1 = dtr.predict(X_test)
p1=mean_absolute_error(y_test,y_predict1)
p2=mean_squared_error(y_test,y_predict1)
p3=np.sqrt(p2)
print("Mean Absolute Error:",p1)
print(p2)
print(p3)

#Random Forest Regression Algorithm Model
y_predict2 = rfr.predict(X_test)
p1=mean_absolute_error(y_test,y_predict2)
p2=mean_squared_error(y_test,y_predict2)
p3=np.sqrt(p2)
print("Mean Absolute Error:",p1)
print(p2)
print(p3)

Mean Absolute Error: 0.04525031381733767
0.003848740376932911
0.06203821706765041
Mean Absolute Error: 0.27949999999999997
0.09958000000000002
0.31556298895783075
Mean Absolute Error: 0.25959999999999994
0.08640999999999997
0.2939557789872483

In [ ]:
# looking at error we can conclude that Linear Regression Algorihtm is better
#Algorithm for this problem and model object contains the ML model for it
# which can be used for prediction of new data