In [1]:
import pandas as pd

In [3]:
google=pd.read_csv('3.6.Sort_Values & Inplace in Pandas.csv',squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [6]:
def classify_par(number):
    if number<300:
        return 'OK'
    elif number>=300 and number<650:
        return "Satisfactory"
    else:
        return "Incrdible"

In [7]:
google.apply(classify_par)

0              OK
1              OK
2              OK
3              OK
4              OK
5              OK
6              OK
7              OK
8              OK
9              OK
10             OK
11             OK
12             OK
13             OK
14             OK
15             OK
16             OK
17             OK
18             OK
19             OK
20             OK
21             OK
22             OK
23             OK
24             OK
25             OK
26             OK
27             OK
28             OK
29             OK
          ...
2982    Incrdible
2983    Incrdible
2984    Incrdible
2985    Incrdible
2986    Incrdible
2987    Incrdible
2988    Incrdible
2989    Incrdible
2990    Incrdible
2991    Incrdible
2992    Incrdible
2993    Incrdible
2994    Incrdible
2995    Incrdible
2996    Incrdible
2997    Incrdible
2998    Incrdible
2999    Incrdible
3000    Incrdible
3001    Incrdible
3002    Incrdible
3003    Incrdible
3004    Incrdible
3005    Incrdible
3006    Incrdible
3007    Incrdible
3008    Incrdible
3009    Incrdible
3010    Incrdible
3011    Incrdible
Name: Stock Price, Length: 3012, dtype: object

In [8]:
google.apply(lambda stock_price:stock_price+1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
5        54.90
6        54.02
7        51.95
8        52.13
9        51.07
10       51.70
11       50.95
12       51.74
13       52.10
14       52.10
15       53.61
16       54.70
17       56.69
18       56.94
19       57.93
20       59.69
21       60.62
22       59.86
23       60.13
24       61.35
25       60.86
26       60.07
27       64.37
28       66.47
29       65.74
         ...
2982    676.22
2983    669.26
2984    681.04
2985    685.11
2986    693.10
2987    700.21
2988    695.49
2989    698.77
2990    696.36
2991    706.63
2992    716.09
2993    721.64
2994    717.98
2995    721.95
2996    720.85
2997    734.78
2998    737.96
2999    742.19
3000    739.63
3001    743.74
3002    740.77
3003    739.42
3004    742.77
3005    746.91
3006    769.79
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64