In [1]:
import pandas as pd

In [2]:
Rate=[3.99,4.54,6.52,5.55,7.91]
r=pd.Series(Rate)
r

0    3.99
1    4.54
2    6.52
3    5.55
4    7.91
dtype: float64

In [3]:
r.sum()

28.51

In [4]:
r.product()

5184.9647823959995

In [5]:
r.mean()

5.702

In [6]:
r.median()

5.55

In [7]:
fruits=['Apple','Mango','Waterelon','Pineapple','Grape']
weekays=['Mon','Tue','Wed','Thur','Fri']

pd.Series(fruits,weekays)

Mon         Apple
Tue         Mango
Wed     Waterelon
Thur    Pineapple
Fri         Grape
dtype: object

In [8]:
pd.Series(data=fruits,index=weekays)

Mon         Apple
Tue         Mango
Wed     Waterelon
Thur    Pineapple
Fri         Grape
dtype: object

In [9]:
pd.Series(fruits,index=weekays)

Mon         Apple
Tue         Mango
Wed     Waterelon
Thur    Pineapple
Fri         Grape
dtype: object