In [3]:
import pandas as pd

In [4]:
pokemon=pd.read_csv('3.5.pokemon.csv',usecols=['Name'],squeeze=True)

In [5]:
pokemon.sort_values()

510                    Abomasnow
511      AbomasnowMega Abomasnow
68                          Abra
392                        Absol
393              AbsolMega Absol
678                     Accelgor
750         AegislashBlade Forme
751        AegislashShield Forme
153                   Aerodactyl
154    AerodactylMega Aerodactyl
332                       Aggron
333            AggronMega Aggron
205                        Aipom
70                      Alakazam
71         AlakazamMega Alakazam
655                    Alomomola
365                      Altaria
366          AltariaMega Altaria
768                       Amaura
471                      Ambipom
652                    Amoonguss
195                     Ampharos
196        AmpharosMega Ampharos
379                      Anorith
29                         Arbok
64                      Arcanine
552                       Arceus
627                       Archen
628                     Archeops
182                      Ariados
                 ...
607                   Whimsicott
604                   Whirlipede
372                     Whiscash
317                      Whismur
45                    Wigglytuff
301                      Wingull
217                    Wobbuffet
586                       Woobat
209                       Wooper
458          WormadamPlant Cloak
459          WormadamSandy Cloak
460          WormadamTrash Cloak
288                      Wurmple
394                       Wynaut
192                         Xatu
792                      Xerneas
623                       Yamask
208                        Yanma
520                      Yanmega
793                      Yveltal
367                     Zangoose
157                       Zapdos
582                    Zebstrika
707                       Zekrom
286                    Zigzagoon
632                      Zoroark
631                        Zorua
46                         Zubat
695                     Zweilous
794             Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [6]:
pokemon.sort_values().head(10)

510                    Abomasnow
511      AbomasnowMega Abomasnow
68                          Abra
392                        Absol
393              AbsolMega Absol
678                     Accelgor
750         AegislashBlade Forme
751        AegislashShield Forme
153                   Aerodactyl
154    AerodactylMega Aerodactyl
Name: Name, dtype: object

In [7]:
pokemon.sort_values(ascending=False)

794             Zygarde50% Forme
695                     Zweilous
46                         Zubat
631                        Zorua
632                      Zoroark
286                    Zigzagoon
707                       Zekrom
582                    Zebstrika
157                       Zapdos
367                     Zangoose
793                      Yveltal
520                      Yanmega
208                        Yanma
623                       Yamask
792                      Xerneas
192                         Xatu
394                       Wynaut
288                      Wurmple
460          WormadamTrash Cloak
459          WormadamSandy Cloak
458          WormadamPlant Cloak
209                       Wooper
586                       Woobat
217                    Wobbuffet
301                      Wingull
45                    Wigglytuff
317                      Whismur
372                     Whiscash
604                   Whirlipede
607                   Whimsicott
                 ...
182                      Ariados
628                     Archeops
627                       Archen
552                       Arceus
64                      Arcanine
29                         Arbok
379                      Anorith
196        AmpharosMega Ampharos
195                     Ampharos
652                    Amoonguss
471                      Ambipom
768                       Amaura
366          AltariaMega Altaria
365                      Altaria
655                    Alomomola
71         AlakazamMega Alakazam
70                      Alakazam
205                        Aipom
333            AggronMega Aggron
332                       Aggron
154    AerodactylMega Aerodactyl
153                   Aerodactyl
751        AegislashShield Forme
750         AegislashBlade Forme
678                     Accelgor
393              AbsolMega Absol
392                        Absol
68                          Abra
511      AbomasnowMega Abomasnow
510                    Abomasnow
Name: Name, Length: 800, dtype: object

In [8]:
pokemon.sort_values(ascending=False).tail(10)

154    AerodactylMega Aerodactyl
153                   Aerodactyl
751        AegislashShield Forme
750         AegislashBlade Forme
678                     Accelgor
393              AbsolMega Absol
392                        Absol
68                          Abra
511      AbomasnowMega Abomasnow
510                    Abomasnow
Name: Name, dtype: object

In [9]:
google=pd.read_csv('3.6.Sort_Values & Inplace in Pandas.csv',squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [10]:
 google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [11]:
google=google.sort_values()
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [12]:
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [13]:
google=google.sort_values(ascending=False)
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
3008    771.07
2860    771.00
3006    768.79
2840    767.04
2843    766.81
2934    766.61
2882    764.65
2844    763.25
2858    762.51
2841    762.38
2845    762.37
2937    759.14
2933    759.00
2861    758.88
2851    758.09
2834    756.60
2835    755.98
2935    753.93
2932    753.20
2936    752.67
2842    752.54
2881    752.00
2931    751.72
2846    751.61
2921    750.53
         ...
28       65.47
29       64.74
27       63.37
24       60.35
25       59.86
21       59.62
23       59.13
26       59.07
22       58.86
20       58.69
19       56.93
18       55.94
17       55.69
2        54.65
1        54.10
5        53.90
16       53.70
6        53.02
4        52.95
15       52.61
3        52.38
8        51.13
13       51.10
14       51.10
7        50.95
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [25]:
googl=googl.sort_values(ascending=False,inplace=True)
googl.head()

AttributeError: 'NoneType' object has no attribute 'sort_values'