In [36]:
# Read the p1.csv file in a dataframe variable and calculate the following:
import pandas as pd
df=pd.read_csv('p1.csv')
print(df)

        Name  Salary Country
0      Rahul   40000   India
1       Ravi   32000     USA
2    Saurabh   45000   Italy
3     Mahesh   54000   India
4    Rishabh   72000   India
5      Rajat   62000     USA
6   Abhishek   92000   Italy
7      Jatin   55000   India
8     Gaurav   35000   Italy
9      Ritik   48000     USA
10      Mani   34000   India
11      Neha   32100     USA
12     Naman   35600   Italy
13   Pradeep   43800   Italy

In [23]:
# a. Mean salary
print(df['Salary'].mean())

48607.142857142855

In [24]:
# b. Total sum of salaries
print(df['Salary'].sum())

680500

In [25]:
# c. Maximum salary
print(df['Salary'].max())

92000

In [29]:
# d. Minimum salary
print(df['Salary'].min())

32000

In [30]:
# e. Count of salaries
print(df['Salary'].value_counts())

43800    1
55000    1
62000    1
35600    1
48000    1
54000    1
35000    1
92000    1
34000    1
72000    1
45000    1
32100    1
32000    1
40000    1
Name: Salary, dtype: int64

In [31]:
# f. Median salary
print(df['Salary'].median())

44400.0

In [32]:
# g. Standard deviation of salaries
print(df['Salary'].std())

17333.935781302804

In [33]:
# h. Count the no. of rows and no. of columns in the data frame.
print(df.shape)

(14, 3)

In [37]:
# i. append a new row at the end of the dataframe.
new_row=pd.DataFrame([['Satyam',123145,'India']],columns=['Name','Salary','Country'])
df=df.append(new_row,ignore_index=True)
print(df)

        Name  Salary Country
0      Rahul   40000   India
1       Ravi   32000     USA
2    Saurabh   45000   Italy
3     Mahesh   54000   India
4    Rishabh   72000   India
5      Rajat   62000     USA
6   Abhishek   92000   Italy
7      Jatin   55000   India
8     Gaurav   35000   Italy
9      Ritik   48000     USA
10      Mani   34000   India
11      Neha   32100     USA
12     Naman   35600   Italy
13   Pradeep   43800   Italy
14    Satyam  123145   India

In [39]:
# j. insert a new column named department and fill new values.
df['Department']=pd.Series(['IT','CS','ECE','CS','EE','CE','IT','ME','IT','CE','ECE','ME','CSE','CE'])
print(df)

        Name  Salary Country Department
0      Rahul   40000   India         IT
1       Ravi   32000     USA         CS
2    Saurabh   45000   Italy        ECE
3     Mahesh   54000   India         CS
4    Rishabh   72000   India         EE
5      Rajat   62000     USA         CE
6   Abhishek   92000   Italy         IT
7      Jatin   55000   India         ME
8     Gaurav   35000   Italy         IT
9      Ritik   48000     USA         CE
10      Mani   34000   India        ECE
11      Neha   32100     USA         ME
12     Naman   35600   Italy        CSE
13   Pradeep   43800   Italy         CE
14    Satyam  123145   India        NaN