In [1]:
# Create a new data frame with three columns â€“ Product_Name, Cost, Sales.
# a. 	Add 10 values in data frame.
# b. 	Add a new column named quantity with 10 values.
# c.  	Add a new column named: Profit and total_profit and fill values.
# d. 	Insert a new column named location after Product_Name column with 10 cities.
# (New Delhi, Lucknow, Kolkata, Lucknow, New Delhi, Bengaluru, Chennai, Chennai, Kolkata, Bengaluru)

In [29]:
import pandas as pd
data={'Products_Name':['P101','P102','P103','P104','P105','P106','P107','P108','P109','P110'],
        'Cost':[101,102,103,104,105,106,107,108,109,110],
        'Sales':['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']}
df=pd.DataFrame(data)
print(df)
df['Quantity']=['q1','q2','q3','q4','q5','q6','q7','q8','q9','q10']
print(df)
df['Profit']=[10,20,30.,40,50,60,70,80,90,100]
df['Total_Profit']=[100,200,300,400,500,600,700,800,900,1000]
print(df)
locations=('New Delhi', 'Lucknow', 'Kolkata', 'Lucknow', 'New Delhi', 'Bengaluru', 'Chennai', 'Chennai', 'Kolkata', 'Bengaluru')
df.insert(1,'Location',locations)
print(df)

  Products_Name  Cost Sales
0          P101   101    s1
1          P102   102    s2
2          P103   103    s3
3          P104   104    s4
4          P105   105    s5
5          P106   106    s6
6          P107   107    s7
7          P108   108    s8
8          P109   109    s9
9          P110   110   s10
  Products_Name  Cost Sales Quantity
0          P101   101    s1       q1
1          P102   102    s2       q2
2          P103   103    s3       q3
3          P104   104    s4       q4
4          P105   105    s5       q5
5          P106   106    s6       q6
6          P107   107    s7       q7
7          P108   108    s8       q8
8          P109   109    s9       q9
9          P110   110   s10      q10
  Products_Name  Cost Sales Quantity  Profit  Total_Profit
0          P101   101    s1       q1    10.0           100
1          P102   102    s2       q2    20.0           200
2          P103   103    s3       q3    30.0           300
3          P104   104    s4       q4    40.0           400
4          P105   105    s5       q5    50.0           500
5          P106   106    s6       q6    60.0           600
6          P107   107    s7       q7    70.0           700
7          P108   108    s8       q8    80.0           800
8          P109   109    s9       q9    90.0           900
9          P110   110   s10      q10   100.0          1000
  Products_Name   Location  Cost Sales Quantity  Profit  Total_Profit
0          P101  New Delhi   101    s1       q1    10.0           100
1          P102    Lucknow   102    s2       q2    20.0           200
2          P103    Kolkata   103    s3       q3    30.0           300
3          P104    Lucknow   104    s4       q4    40.0           400
4          P105  New Delhi   105    s5       q5    50.0           500
5          P106  Bengaluru   106    s6       q6    60.0           600
6          P107    Chennai   107    s7       q7    70.0           700
7          P108    Chennai   108    s8       q8    80.0           800
8          P109    Kolkata   109    s9       q9    90.0           900
9          P110  Bengaluru   110   s10      q10   100.0          1000