In [42]:
import pandas as pd
df = pd.read_csv("D:\\BBAU1\\Admission_Predict.csv")

In [43]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
df.sample(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
21,22,325,114,4,3.0,2.0,8.40,0,0.70
323,324,305,102,2,2.0,2.5,8.18,0,0.62
358,359,314,105,2,2.5,2.0,7.64,0,0.70
117,118,290,104,4,2.0,2.5,7.46,0,0.45
360,361,322,110,3,4.0,5.0,8.64,1,0.85

In [6]:
print(df.shape)

(400, 9)

In [7]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [9]:
print(df['GRE Score'].min())

290

In [44]:
# Data Pre-Processing
df.drop(["Serial No."],axis=1,inplace = True)

In [45]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
print(df['Chance of Admit'])

In [13]:
print(df.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [ ]:
print(df['Chance of Admit '])

In [46]:
df=df.rename(columns = {'Chance of Admit ':'Chance of Admit'})
print(df.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [47]:
# X is features on which outcome is dependent
X=df.drop(["Chance of Admit"],axis=1)
X.shape

(400, 7)

In [21]:
print(X.head())

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [48]:
#y is outcome which we want to predict through Machine Learning
y=df["Chance of Admit"]
print(y)

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
5      0.90
6      0.75
7      0.68
8      0.50
9      0.45
10     0.52
11     0.84
12     0.78
13     0.62
14     0.61
15     0.54
16     0.66
17     0.65
18     0.63
19     0.62
20     0.64
21     0.70
22     0.94
23     0.95
24     0.97
25     0.94
26     0.76
27     0.44
28     0.46
29     0.54
       ...
370    0.72
371    0.89
372    0.95
373    0.79
374    0.39
375    0.38
376    0.34
377    0.47
378    0.56
379    0.71
380    0.78
381    0.73
382    0.82
383    0.62
384    0.96
385    0.96
386    0.46
387    0.53
388    0.49
389    0.76
390    0.64
391    0.71
392    0.84
393    0.77
394    0.89
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit, Length: 400, dtype: float64

In [49]:
#Now X and y is ready
#Now spilt the data in two parts: train data (320 rows) and test data (80 rows)
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test =train_test_split(X,y,test_size = 0.20)

In [50]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(400, 7)
(320, 7)
(80, 7)

In [51]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(400,)
(320,)
(80,)

In [37]:
print(X_train.head())

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
122        310          106                  4  1.5   2.5  8.36         0
129        333          118                  5  5.0   5.0  9.35         1
328        324          112                  4  4.0   3.5  8.77         1
307        325          112                  4  4.0   4.0  9.00         1
47         339          119                  5  4.5   4.0  9.70         0

In [38]:
from sklearn.preprocessing import MinMaxScaler

scalerX = MinMaxScaler(feature_range=(0, 1))

X_train[X_train.columns] = scalerX.fit_transform(X_train[X_train.columns])

X_test[X_test.columns] = scalerX.transform(X_test[X_test.columns])

print(X_train.head())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

     GRE Score  TOEFL Score  University Rating    SOP   LOR       CGPA  \
122       0.40     0.500000               0.75  0.125  0.375  0.500000
129       0.86     0.928571               1.00  1.000  1.000  0.817308
328       0.68     0.714286               0.75  0.750  0.625  0.631410
307       0.70     0.714286               0.75  0.750  0.750  0.705128
47        0.98     0.964286               1.00  0.875  0.750  0.929487

     Research
122       0.0
129       1.0
328       1.0
307       1.0
47        0.0

In [52]:
#Only these three lines in Python will create a Machine Learning Model for you
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
y_predict = model.predict(X_test)

print (y_predict[0:5])
print(y_test[0:5])

[0.5329828  0.65237579 0.50547389 0.66772627 0.66417528]
37     0.58
266    0.72
346    0.47
112    0.62
116    0.56
Name: Chance of Admit, dtype: float64